@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes/TTLakesCondensed-Regular.eot) format("eot"),
         url(font/TTLakes/TTLakesCondensed-Regular.woff) format("woff"),
         url(font/TTLakes/TTLakesCondensed-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;

}
html {
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "TT Lakes";
    min-width: 320px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    }

.body{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}
.navigation{
    height: 88px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
}
.menu-logo{
    display: flex;
    align-items: center;
}
.logo{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
.buttons-header{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
}
.menu-logo__button-menu{
    background-image: url(icon/header_menu.svg);
}

.call-chat-profile{
    display: flex;
    margin-left: auto;
    gap: 16px;

}
.call-chat-profile__button-call{
    background-image:url(icon/header_icon_call.svg)
}
.call-chat-profile__button-chat{
    background-image: url(icon/header_icon_chat.svg);
}
.call-chat-profile__button-profile{
    background-image: url(icon/header_icon_profile.svg)
}
.repair-search{
    gap: 16px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.nav-for-desktop__button-repair,
.repair-search__button-repair{
    background-image: url(icon/header_repair.svg);
}
.nav-for-desktop__button-search,
.repair-search__button-search {
    background-image: url(icon/header_checkstatus.svg);
}
.nav-for-desktop__button-search{
    margin-right: 32px;
}
.repair-search__button-search{
    margin-right: 16px;
}
.main{
    display: flex;
    flex-direction: column;
    row-gap: 22px;

}
  .main-header{
    display: flex;
    align-items: center;
}
  .main-header__header{
    display: flex;
    align-items: center;
}
  .main-header__highlight{
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
}
  .main-header__topic{
    font-family:"TT Lakes";
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    margin-left: 12px;
}
  .side-menu{
    display: flex;
    white-space:nowrap;
    overflow: auto;
  }
  .side-menu::-webkit-scrollbar { 
    display: none; 
    }
.blur-element{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, transparent, #F8F8F8);
    
}


.side-menu__btn{
    border: none;
    background-color: transparent;
    height: 40px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 9px 8px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.description{
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #1B1C21;
}
.button-read-more{
    border: none;
    background-color: transparent;
}

.button-read-more__text{
    margin-left: 8px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

@media ( width <= 768px ){
    .logo__vertical-divider-after {
        display:none;
    }
    .repair-search__vertical-divider-before {
        margin-left: 16px;
        margin-right: 4px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
      }
    .menu-logo__button-menu{
        margin: 0 16px;
    }
    .call-chat-profile{
        display: none;
    }
    .side-menu__btn:first-child{
        margin-left: 16px;
    } 
    .side-menu__btn:last-child{
        margin-right: 16px;
    } 
      .side-menu__btn:focus{
        outline: #B8FFEC solid 2px;
        background-color: #FFFFFF;
        border-radius: 6px;
    }

    .section{
        flex-direction: column;
        display:flex;
        gap: 16px;
    }
    .description-read-more{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .description__for-all{
        margin: 0 16px 0px 16px;
    }
    .button-read-more__image{
        margin-left: 16px;
    }
    .main-picture-mob{
        width:100%;
        height: auto;
    }

    .description__for-tablet,
    .description__for-desktop,
    .main-picture-tablet,
    .main-picture-desktop,
    .nav-for-desktop{
        display: none;
    }
}

@media ( 768px < width <= 1120px){
    .logo__vertical-divider-after {
        margin-right: 20px;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
    .repair-search__vertical-divider-before {
        margin-left: 16px;
        margin-right: 0px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
    .main{
        gap: 32px;
    }
    .menu-logo__button-menu{
        margin-left: 24px;
    }
    .side-menu__btn:first-child{
        margin-left: 24px;
    } 
    .side-menu__btn:last-child{
        margin-right: 24px;
    } 
    .side-menu__btn:focus{
        outline: #B8FFEC solid 2px;
        background-color: #FFFFFF;
        border-radius: 6px;
    }
    .section{
        display:flex;
        gap: 48px;
    }
    .description-read-more{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .description__for-all,
    .description__for-tablet,
    .button-read-more__image{
        margin-left: 24px;
    }
    .main-picture-tablet{
        flex-basis: 50% ;
        height: auto;
        margin-right: 40px;
        border-radius: 5px;

    }
    .button-read-more{
        order: 1;
    }
    .main-picture-mob,
    .main-picture-desktop,
    .description__for-desktop,
    .nav-for-desktop
    {
        display: none;
    }


}

@media ( width > 1120px){

    .side-menu__btn:hover,
    .side-menu__btn:focus{
        outline: #B8FFEC solid 2px;
        background-color: #FFFFFF;
        border-radius: 6px;
    }
    .navigation{
        display: none;
    }
    .section{
        display:flex;
        gap: 48px;
    }
    .description-read-more{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    .description__for-all,
    .description__for-tablet,
    .description__for-desktop,
    .button-read-more__image{
        margin-left: 34px;
    }
    .main-picture-desktop{
        flex-basis: 50% ;
        height: auto;
        margin-right: 40px;

    }
    .button-read-more{
        order: 1;
    }
    .side-menu{
        display: flex;
        flex-wrap: wrap;
        margin-left: 32px;
        margin-right: 25px;
        padding-left: 2px;
        
      }
    .nav-for-desktop{
        display: flex;
        margin-left: auto;
        gap: 32px;
    }
    .nav-for-desktop__repair,
    .nav-for-desktop__search{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .main-picture-mob,
    .main-picture-tablet{
        display: none;
    }
}