@font-face {
    font-family: "TT Lakes";
    src: url(/font/TTLakes/TTLakesCondensed-Regular.eot) format("eot"),
         url(/font/TTLakes/TTLakesCondensed-Regular.woff) format("woff"),
         url(/font//TTLakes/TTLakesCondensed-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;

}
html {
    box-sizing: border-box;
    font-family: "TT Lakes";
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



* {
    margin: 0;
    padding: 0;
    }

.body{
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}
.buttons-header{
    border: none;
    background-color: #ffffff;
}
.navigation{
    min-height: 88px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;


}
.menu-logo{
    display: flex;
    align-items: center;
}
.call-chat-profile{
    display: flex;
    margin-left: auto;
    gap: 16px;

}
.button-call{
    width: 40px;
    height: 40px;
    background-image:url(/header/header_icon_call.svg)
}
.button-chat{
    width: 40px;
    height: 40px;
    background-image: url(/header/header_icon_chat.svg);
}
.button-profile{
    width: 40px;
    height: 40px;
    background-image: url(/header/header_icon_profile.svg)
}
.button-search{
margin-right: 16px;
}
.repair-search{
    gap: 16px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}
  .logo{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
.main{
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}
  .main-header{
    display: flex;
  }
  .main-header__highlight{
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
  }
  .main-header__topic{
    font-family:"TT Lakes";
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    margin-left: 12px;

  }

  .side-menu{
    display: flex;
    min-width: 320px;
    white-space:nowrap;
    overflow: scroll;
  }

.side-menu__btn{
    border: none;
    background-color: transparent;
    height: 40px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 9px 8px;
}
  /* .side-menu__btn{
    border: none;
    background-color: transparent;
    height: 40px;
  } */

.focused{
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    border-radius: 6px;

}
/* .side-menu__btn-text{
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 8px 9px 9px 16px;
} */
.description{
    font-family: "TT Lakes";
    margin: 0 16px 16px 16px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #1B1C21;


}
.button-read-more{
    border: none;
    background-color: transparent;
    margin-left: 16px;
    margin-bottom: 16px;

}
.button-read-more__text{
    margin-left: 8px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.main-picture{
    width:100%;
    height: auto;
}
@media ( width < 768px ){
    .logo--vertical-divider-after {
        display:none;
      }
      .logo--vertical-divider-before {
        margin-left: 16px;
        margin-right: 4px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
      }
      .button-menu{
        margin: 0 16px;
       }
    .call-chat-profile{
        display: none;
    }
    .side-menu__btn:first-child{
        margin-left: 16px;
      } 
      .side-menu__btn:last-child{
        margin-right: 16px;
      } 
}

@media ( 768px < width < 1120px){
    .logo--vertical-divider-after {
        margin-right: 20px;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
      }
      .logo--vertical-divider-before {
        margin-left: 16px;
        margin-right: 0px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
    .button-menu{
        margin-left: 24px;
       }
       .side-menu__btn:first-child{
        margin-left: 24px;
      } 
      .side-menu__btn:last-child{
        margin-right: 24px;
      } 

}